<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>YO</title>

  <meta name="description" content="YO slide">
  <meta name="author" content="mohwa">

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="css/reveal.min.css" type='text/css'>
  <link rel="stylesheet" href="css/theme/adobe-theme.css?122" type='text/css'>
  <!--<link rel="stylesheet" href="css/fullscreen-img.css">-->

  <!-- For syntax highlighting -->
  <link rel="stylesheet" href="lib/css/zenburn.css">
  <!--<link rel="stylesheet" href="lib/css/atelier-seaside.light.css">-->
  <!-- If the query includes 'print-pdf', include the PDF print sheet -->
  <script>
    document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
  </script>

  <!--[if lt IE 9]>
  <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
    <style type="text/css">
        .tomato { color:#edca71; }
    </style>
</head>
<body>
<div class="reveal">
    <div class="slides">
        <section>
            <h1><span class="tomato">YO</span></h1>
        </section>
        <!--<section data-state='intro'>-->
            <!--<p class="desc">Adobe <span class="no-break">Web Platform</span> Team</p>-->
        <!--</section>-->
        <section>
            <h4>자신만의 <span class="tomato">app generator</span> 를 만들어보자</h4>
        </section>
        <section>
            <h1><span class="tomato">왜</span>?</h1>
        </section>
      <section style="text-align:left">
        <p>유사 프로젝트가 많아지다보니 <span class="tomato">귀찮아졌다</span>.</p>
        <br>
        <span class="fragment" data-fragment-index="2">프로젝트 구축 비용을 <span class="tomato">최소화</span> 하고 싶었다.</span>
        <span class="fragment" data-fragment-index="3">(Or 새로들어올 사람에게 프로젝트 구축 방법에 대해, 일일이 알려줄 생각을하니 <span class="tomato">귀찮았다</span>)</span>
        <br><br>
        <p class="fragment" data-fragment-index="4">당장 내가 <span class="tomato">귀찮고 불편했다</span>.</p>
      </section>
        <section>
          YO 는 <a href="http://yeoman.io/">홈페이지</a>를 통해, 이것을 위한 <a href="http://yeoman.io/authoring/">공식 문서</a>를 제공하고 있다
        </section>
        <section>
          <h3>먼저 <span class="tomato">개발 환경</span>을 구축해보자</h3>
        </section>
      <section style="text-align:left">
        <a href="https://github.com/yeoman/generator-generator">generator-generator</a> Module 은  app-generator <span class="tomato">개발 환경</span> 구축 시, 그 기반 설계를 도와주는 Yeoman generator Module 중 하나이다.
      </section>
      <section>
        <a href="https://github.com/yeoman/generator-generator">generator-generator</a> Module 설치

        <pre class="tex" style="text-align:center">
          <code data-trim contenteditable class="tag">
            sudo npm install -g generator-generator
          </code>
        </pre>
      </section>
      <section>
        app-generator <span class="tomato">개발 환경</span>을 구축한다

        <pre class="tex" style="text-align:center">
          <code data-trim contenteditable class="tag">
            yo generator
          </code>
        </pre>
      </section>
        <section>
          해당 app-generator <span class="tomato">폴더</span>가 생성되었다.
        <pre class="javascript" style="text-align:center">
          <code data-trim contenteditable class="tag">
            ./generator-mohwa([base-name])
          </code>
        </pre>
        <span class="fragment" data-fragment-index="2"><em>이후 <span class="tomato">"yo mohwa"</span> 명령 실행 시, 이 [<span class="tomato">base-name</span>] 을 기준으로, app-generator Module 폴더를 File system 상에서 찾아 실행하게된다.</em></span>
        </section>
        <section>
           <span class="tomato">Link</span> 를 통해, <span class="tomato">NPM 설치 환경</span> 만들기.
        <pre class="javascript" style="text-align:left;font-size:24px" >
          <code data-trim contenteditable class="tag">
// global node module 위치로 이동한다.
cd /usr/local/lib/node_modules

// 생성된 app-generator Module 폴더를 심볼릭 링크한다.
sudo ln -s ~/htdocs/gitrepos/generator-mohwa generator-mohwa
          </code>
        </pre>
        </section>
      <section style="font-size:27px">
        <em><span class="tomato">npm list</span></em> 명령을 통해, app-generator Module 이 제대로 설치(<span class="tomato">링크</span>)되었는지 확인해본다.
        <pre class="javascript" style="text-align:center;font-size:33px" >
          <code data-trim contenteditable class="tag">
            npm list -g generator-mohwa
          </code>
        </pre>
      </section>
      <section style="font-size:30px">
        <em><span class="tomato">"yo mohwa"</span></em> 명령을 통해, 설치된 app-generator 를 구동시킨다.
        <pre class="javascript" style="text-align:center;font-size:33px" >
          <code data-trim contenteditable class="tag">
            yo mohwa
          </code>
        </pre>
      </section>
        </section>
        <section>
            <h2>개발 <span class="tomato">포인트</span></h2>
        </section>

      <section>
        <h3><span class="tomato">package.json</span> 파일 설정</h3>
      </section>

        <section style="font-size:30px">
           YO 가 제공하는 <a href="http://yeoman.io/generators/">generator-page</a> 에 <span class="tomato">listed</span> 되기 위해서는 <span class="tomato">package.json</span> 파일 내부에 <span class="tomato">keywords</span> property 와 <span class="tomato">description</span> property 를 반드시 서술해야한다.

           <pre class="javascript" style="text-align:left; font-size:20px">
                <code data-trim contenteditable class="tag">
// ./package.json 파일 내부
{
  "name": "generator-mohwa",
  "version": "0.0.0",
  "description": "mohwa generator",
  ...
  "keywords": [
    "yeoman-generator"
  ],
  ...
}
                </code>
            </pre>
        </section>
        <section>
            <h2><span class="tomato">Folder</span> tree</h2>
        </section>
        <section>
            <h3><span class="tomato">YO</span> 는 두 가지 <span class="tomato">폴더 구조</span>를 제공한다</h3>
        </section>
        <section>

          <span style="font-size:30px"><span class="tomato">./</span> 폴더 내부로 <span class="tomato">default</span> generator 및 <span class="tomato">sub</span>-generator 를 만들어내는 구조</span>
          <pre>
              <code>
              ├───package.json
              ├───app(default)/
              │   └───index.js
              └───router(sub)/
              └───index.js
              </code>
          </pre>
        </section>
      <section>

        <span style="font-size:30px"><span class="tomato">./generators</span> 폴더 내부로 <span class="tomato">default</span> generator 및 <span class="tomato">sub</span>-generator 를 만들어내는 구조</span>
          <pre>
              <code>
              ├───package.json
              └───generators/
              ├───app(default)/
              │   └───index.js
              └───router(sub)/
              └───index.js
              </code>
          </pre>
      </section>
      <section>

        <div style="font-size:48px"><span class="tomato">default</span> generator 및 <span class="tomato">sub</span>-generator 호출 방법</div>
        <br><br><br>
        <p class="roll-in" style="font-size:30px;text-align:left">- <span class="tomato">default</span> generator 호출 방법</p>
        <!--<em style="text-align:left;font-size:25px">./generators/<span class="tomato">app</span>/ 디렉토리 안의 index.js 파일이 호출된다.</em>-->
        <pre class="javascript" style="text-align:left; font-size:25px">
          <code data-trim contenteditable class="tag">
// ./generators/app/ 디렉토리 안의 index.js 파일이 호출된다.
// yo [base-name]
yo mohwa
          </code>
        </pre>
        <p class="roll-in" style="font-size:30px;text-align:left">- <span class="tomato">sub</span>-generators 호출 방법</p>
        <!--<em style="text-align:left;font-size:25px">./generators/<span class="tomato">[sub-command]</span>/ 디렉토리 안의 index.js 파일이 호출된다.</em>-->
        <pre class="javascript" style="text-align:left; font-size:20px">
          <code data-trim contenteditable class="tag">
// ./generators/[sub-command]/ 디렉토리 안의 index.js 파일이 호출된다.
// yo [base-name]:[sub-command]
yo mohwa:router
          </code>
        </pre>
      </section>
      <section>
        <h3><span class="tomato">base</span> generator 확장하기</h3>
      </section>
      <section>
        <p class="roll-in" style="font-size:38px;text-align:left"><span class="tomato">yeoman-generator</span> Module 을 통해, <span class="tomato">base</span> generator 를 생성할수 있으며, 이것을 <span class="tomato">확장</span>하여 자신만의 app-generator 기능들을 만들어낸다.</p>
        <pre class="javascript" style="text-align:left; font-size:22px">
          <code data-trim contenteditable class="tag">
// app/index.js 내부
// base generator 를 생성한다.
var generators = require('yeoman-generator');

// base generator 를 확장한다.
module.exports = generators.Base.extend({

  constructor: function () {

  generators.Base.apply(this, arguments);
    // This makes `appRootFolder` a required argument.
    this.argument('appRootDir', { type: String, required: true });
  }
});
          </code>
        </pre>
      </section>
      <section>
        <h3>GENERATOR RUNTIME CONTEXT</h3>
      </section>
      <section>
        <h3>run loop</h3>
      </section>
      <section>
        <p>YO 는 <span class="tomato">Run Loop</span> 라는 <a href="https://github.com/SBoudrias/grouped-queue">Queue System</a> 을 가지며, 이것은 실행하려는 메서드 그룹에 대한 <span class="tomato">우선 순위</span>를 제공한다.</p>
        <br>
        <p class="fragment roll-in" data-fragment-index="1">또한, 이 <span class="tomato">우선 순위</span>는 YO 가 제공하는 특별한 프로토타입 메서드 이름(<span class="tomato">priority name</span>)에서만 동작하게된다.</p>
        <br>
        <p class="fragment" data-fragment-index="2"><img src="http://mohwa.github.io/blog/assets/images/posts/20151002/yeoman_11.jpg?1" /></p>
      </section>
      <section>
        <p class="roll-in" style="font-size:50px;text-align:left"><span class="tomato">priority name</span> 일 경우</p>
        <pre class="javascript" style="text-align:left; font-size:20px">
          <code data-trim contenteditable class="tag">
var generators = require('yeoman-generator');

module.exports = generators.Base.extend({

  // 정의된 메서드 그룹(init, end)이 전부 실행된다.
  initializing: {
    init: function() {
      console.log('call by init method 1'); // call by init method 1
    },
    end: function(){
      console.log('call by end method 2'); // call by end method 2
    }
  }
});
          </code>
        </pre>
      </section>
      <section>
        <p class="roll-in" style="font-size:50px;text-align:left"><span class="tomato">priority name</span> 아닐 경우</p>
        <pre class="javascript" style="text-align:left; font-size:20px">
          <code data-trim contenteditable class="tag">

var yeoman = require('yeoman-generator');

module.exports = yeoman.generators.Base.extend({

  // 메서드 그룹(init, end)이 실행되지 않는다.
  custom_method: {
    init: function() {
      console.log('call by init method 1'); // call by init method 1
    },
    end: function(){
      console.log('call by end method 2'); // call by end method 2
    }
  }
});
          </code>
        </pre>
      </section>
      <section>
        <p class="roll-in" style="font-size:40px;text-align:left"><span class="tomato">priority name</span> 아닐 경우, <span class="tomato">Object</span> 타입이 아닌 <span class="tomato">Function</span> 타입으로 <span class="tomato">정의</span>해야한다.</p>
        <pre class="javascript" style="text-align:left; font-size:23px">
          <code data-trim contenteditable class="tag">
var generators = require('yeoman-generator');

module.exports = generators.Base.extend({
  custom_method: function(){
    console.log('call by custom_method method');
  }
});
          </code>
        </pre>
      </section>
      <section>
        <h3><span class="tomato">Template</span> 엔진</h3>
      </section>
      <section>
        <p class="roll-in" style="font-size:28px;text-align:left">YO 는 <a href="http://ejs.co/">Ejs Template</a> 엔진을 사용하며, <a href="https://github.com/sboudrias/mem-fs-editor#copytplfrom-to-context-settings">copyTpl</a> 메서드와 같은 템플릿 관련 메서드들을 제공하고있다.</p>
        <pre class="javascript" style="text-align:left; font-size:20px">
          <code data-trim contenteditable class="tag">
/*
*.html 파일외에, APP 을 구성하는 기반 파일인 _package.json 또는
_gruntfile.js 와 같은 파일에서도 동일하게 적용할 수 있다.
*/
generators.Base.extend({
  writing: function () {
    this.fs.copyTpl(
      this.templatePath('index.html'),
      this.destinationPath('public/index.html'),
      { title: 'Templating with Yeoman' }
    );
  }
});
          </code>
        </pre>
        <p class="roll-in" style="font-size:28px;text-align:left">위 <span class="tomato">Template</span> 엔진을 통해 아래와 같이 출력된다.</p>
        <pre class="xml" style="text-align:left; font-size:20px">
          <code data-trim contenteditable class="tag">
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;Templating with Yeoman&lt;/title&gt;
  &lt;/head&gt;
&lt;/html&gt;
          </code>
        </pre>
      </section>
      <section>
        <p class="roll-in" style="font-size:40px;text-align:left"><span class="tomato">_bower.json</span> 파일 예</p>
        <pre class="javascript" style="text-align:left; font-size:20px">
          <code data-trim contenteditable class="tag">
<% var ngVer = "1.2.26" %> // angularJS Version
  {
    "name": "<%= env.appName %>",
    "description": "<%= env.appName %> package manager",
    "homepage": "http://www.cmt-korea.com/",
    "author": {
     "name": "sgjeon"
    },
    ...
    "devDependencies": {
      "angular": "<%= ngVer %>",
      "angular-animate": "<%= ngVer %>",
      "angular-cookies": "<%= ngVer %>",
      "angular-route": "<%= ngVer %>",
      ...
    }
}
          </code>
        </pre>
      </section>
      <section>
        <h4>전역 <span class="tomato">Configurations</span> 파일 관리하기</h4>
      </section>
      <section>
        <p style="font-size:35px;text-align:left">YO 는 숨김 파일인 <span class="tomato">.yo-rc.json</span> 파일을 통해, 전역 <span class="tomato">Configurations</span> 을 관리할 수 있으며, 또 그것을 관리하기 위한 <a href="http://yeoman.io/generator/Storage.html">Yeoman Storage API</a> 를 제공하고있다.</p>
        <pre class="javascript" style="text-align:left; font-size:30px">
          <code data-trim contenteditable class="tag">
{
  "generator-mohwa: {
    "key": "value"
  }
}
          </code>
        </pre>
      </section>
      <section>
        <h1>결론</h1>
      </section>
      <section style="text-align:left">
        <p><span class="tomato">팀</span>이 아닌 <span class="tomato">혼자</span>라도 사용해볼만 하다.</p>
        <br>
        <span class="fragment" data-fragment-index="2"><span class="tomato">자동화</span>를 통해, 개발 비용(or <span class="tomato">개인 시간</span>)을 아낄수 있다.</span>
        <br><br>
        <span class="fragment" data-fragment-index="3">일단 내가 <span class="tomato">편해진다</span>.</span>
      </section>
      <section>
          <h3>Questions?</h3>
      </section>
      <section>
          <h3>Reference</h3>
          <br>
          <ul style="font-size:20px">
              <li><a href="http://yeoman.io/generator/">Yeoman generator API documentation</a></li>
              <li><a href="http://yeoman.io/authoring/">WRITING YOUR OWN YEOMAN GENERATOR/</a></li>
            <li><a href="http://mohwa.github.io/blog/generator/2015/10/16/yo-generator/">Yeoman-Generator Blog Doc</a></li>
              <li><a href="https://github.com/yeoman/generator-generator">generator-generator Module</a></li>
          </ul>
      </section>
    </div>
    <div class="state-background"></div>
</div>
<script src="lib/js/head.min.js"></script>
<script src="js/reveal.min.js"></script>

<script>

  document.addEventListener("DOMContentLoaded", init, false);

  // Full list of configuration options available here:
  // https://github.com/hakimel/reveal.js#configuration
  function init(){

    var cblocks = document.querySelectorAll("pre code");

    if(cblocks.length) {
      for(var i=0, len=cblocks.length; i<len; i++) {
        var dom = cblocks[i];
        var html = dom.innerHTML;
        html = html.replace(/</g,"&lt;").replace(/>/g,"&gt;");
        dom.innerHTML = html;
      }
    }
  }

  // Full list of configuration options available here:
  // https://github.com/hakimel/reveal.js#configuration
  Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,
    rollingLinks:true,
    slideNumber: false,

    theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
    transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none
    backgroundTransition: 'slide',

    // Parallax scrolling
    // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
    // parallaxBackgroundSize: '2100px 900px',

    // Optional libraries used to extend on reveal.js
    dependencies: [
      // Cross-browser shim that fully implements classList - https://github.com/eligrey/classList.js/
      { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },

      // Interpret Markdown in <section> elements
      { src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },

      // Syntax highlight for <code> elements
      { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
//            { src: 'lib/js/fullscreen-img.js'},
      // Zoom in and out with Alt+click
      { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },


      // Speaker notes
//            { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },

      // Remote control your reveal.js presentation using a touch device
//            { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } },

      // MathJax
//            { src: 'plugin/math/math.js', async: true },
//            { src: 'socket.io/socket.io.js', async: true },
//            { src: 'plugin/notes-server/client.js', async: true }
    ]
  });

</script>
</body>
</html>
